[2019-04-05 08:49] chrisrzhou opened #1 "3.0.0 Bugs"
Various bugs from testing component:

- [x] Component re-renders when `pointLightPositionRadiusScales` is updated.  Non-primitive (e.g. array-based) option values might also have this bug.
- [x] export tween
- [x] Support customizing markers glow options.
- [x] when max polar angles are restricted and focus is applied, we cannot arrive to focus point due to restrictions.  Disable the restrictions

[2019-04-23 08:59] chrisrzhou commented on #1
Fixed with https://github.com/chrisrzhou/react-globe/releases/tag/v3.0.1

[2019-04-23 09:00] #1 closed

[2019-04-26 21:08] Jehutty opened #2 "Loading ready event"
Hi there, first of all excellent work with creating such an interactive, smooth and powerful visualisation.

I am trying to use the globe with a 16k jpg texture of the earth so I can have more detail in the texture as to when i zoom in.

The globe rendering takes a while though ( couple of seconds ) when the component mounts but I currently have no way of displaying a loader/mesh placeholder befor

[2019-04-26 21:51] chrisrzhou commented on #2
Hi thanks for checking this out!  The library currently doesn't handle rendering a loader/mesh placeholder.  I would be happy to add this in as an option in `globeOptions`.  I don't really know how to do this in ThreeJS (I can explore and check out how to do this), but if you have a really simple example that works in Codesandbox.io, I can look at it and add this in.

Or feel free to submit a PR i

[2019-04-26 21:55] Jehutty commented on #2
Hey thanks for the quick reply!
 I am currently working on finding out how to do it.

 Three JS supports this feature here https://threejs.org/docs/#api/en/loaders/managers/LoadingManager

 I am not familiar with your library as to how its constructed or TS though, maybe you will be able to solve it. In the meantime I am trying to find a simple workaround for it with some sort of HOC or conditiona

[2019-04-28 17:45] Jehutty opened #3 "Animated Markers"
HI there @chrisrzhou does the globe support animated markers as in your google trends app? If so, I suppose its a custom renderer of a marker to be used, but how does three.js is used to perform that effect?

[2019-04-28 18:53] chrisrzhou commented on #3
Hi @Jehutty, `react-globe` will only provide very basic dot/bar marker rendering but allows you to write your own custom markers by providing a valid render method in `markerOptions.renderer`.  The goal of this function is to take the `Marker` data object and return a valid `THREE.Object3D` object.  `react-globe` will place it correctly as well as support interaction events.

In `google-globe-tren

[2019-04-28 18:54] chrisrzhou commented on #2
Awesome, I might have time to get to this next week and maybe support loader/mesh placeholders for both globe and backgrounds!

[2019-04-29 14:48] Jehutty commented on #3
Hi @chrisrzhou thank you for your insight that clarified a lot and got me started on creating my own meshes, I would like to have a dynamic size for them depending on the current distance the camera is at any point. Is there a getter for the distanceRadiusScale so I can play arround with it ?

[2019-04-29 17:21] chrisrzhou commented on #3
Hmm, currently there are no getters in the component. Right now the component doesn't really interface with the camera much except with `cameraOptions`.  The camera code is also largely managed by OrbitControls, so I don't think it will be simple to grab this specific value.

One way to approach this is to potentially expose all the ThreeJS ref objects (Camera, Globe, OrbitControls) so users can h

[2019-04-29 18:06] Jehutty commented on #3
Hey Chris I’m getting into typescript to get a better understanding of how
this works seems pretty easy and useful to write compact hard typed js
This was my conclusion as well I’m looking into a native globe three js to
understand how orbit controls work then try to expand on your interface.
I’ll fork it and will start working on it this weekend. This thing got a
lot of potential for powerful vis

[2019-05-04 01:17] aboe026 opened #4 "distanceRadiusScale focusOption not changing with focus change"
I have a continent select menu that controls which continent is in focus of the globe. The selected continent is used to calculated the coordinates for the `focus`, as well as the `distanceRadiusScale` for the `focusOption`. I'm seeing the focus move to the new coordinate correctly, however it doesn't seem like the changed `distanceRadiusScale` is getting properly picked up, as the scale does not

[2019-05-10 09:09] Jehutty opened #5 "Markers floating"
Is it possible to change the z axis of the markers to appear on the same layer of the surface of the globe, through the current Marker component props or a custom renderer, or is the problem deeper than that?

[2019-05-10 15:27] chrisrzhou commented on #5
Hi @jehutty it might be deeper than that and I think I ran into it once. If you can include a codesandbox example that reproduces this issue (in an exaggerated situation) I can help look into the issue.

Might be able to get to it next week along with the other Github issues

[2019-05-12 10:11] xwenc opened #6 "How to set custom point Sydney for example as default center of globe"
Hi Chris,

  Thank you very much for sharing this excellent globe.  I want to ask you how can I set custom point, for example, Syndey's coordinates, as default center of the globe?

[2019-05-12 19:42] chrisrzhou commented on #6
Hi @xwenc, try using the `lookAt` props (see [code](https://github.com/chrisrzhou/react-globe/blob/master/src/ReactGlobe.tsx#L52)).

Let me know if that is what you're looking for!

[2019-05-13 08:21] xwenc commented on #6
Yes, That's what i want, thanks！  O(∩_∩)O

[2019-05-14 01:25] #6 closed

[2019-05-22 13:47] mavrickp opened #7 "Could not find a declaration file for module 'three-orbitcontrols'."
1 | import { useEffect, useRef } from 'react';
    2 | import { AmbientLight, Color, PerspectiveCamera, PointLight } from 'three';

      |                           ^
    4 |
    5 | import {
    6 |   CAMERA_DAMPING_FACTOR,

[2019-05-22 17:12] chrisrzhou commented on #4
Hi @aboe026, I believe this is a bug, and I can look into it. `useCamera` hook might not be listening to changes in `focusOptions`.  Will look into it along with other bugs in next 1-2 weeks, but if you want to take a jab at fixing the bug, that's appreciated too :)

Quick question, is the component easy/intuitive to use? I have mixed thoughts about using `*Options` for props API.  But I didn't wa

[2019-05-24 21:05] aboe026 commented on #4
I love the component! Very straight-forward. I have no problem with the `*Options` for props API, was intuitive enough for me at least. Thanks for making this project, its awesome!

[2019-06-05 00:21] aboe026 opened #8 "onWheel event not triggering"
I'm trying to detect a wheel scroll for when a user zooms in or out of the globe. I attempt to do this on a div containing the globe, but for some reason the zoomHandler method does not get called. Here's my code:
[code]
Capturing other events (such as `onMouseDown`, `onTouchStart`) seem to work fine. I'm not sure why the `onWheel` event isn't getting properly triggered.

[2019-06-07 17:35] chrisrzhou commented on #8
Not all events are implemented in `react-globe`.  Only the mousedown, mouseover events are bound to `three.interaction`.  I can check if we can add `onwheel` event and tag you on a PR.

[2019-06-10 16:36] #3 closed

[2019-06-14 15:25] gino8080 opened #9 "Component without give errors in typescript project"
as subject, using without props says there are lots of missing required props

using simply as:
[code]

Generate a typescript error:

**Type '{}' is missing the following properties from type 'Props': animations, cameraOptions, focusOptions, globeOptions, and 4 more**

I forked https://github.com/gino8080/react-globe to convert all props to optional

[2019-06-15 01:15] chrisrzhou commented on #9
Hi @gino8080, I will be pushing out an updated version soon that will fix up Typescript errors in the next few days! I'm new to Typescript but learned a lot when fixing up `react-wordcloud` package recently.

Stay tuned!

[2019-06-15 10:45] gino8080 commented on #9
Thank you for your nice component!

i just made a PR #10  for a fast "hot fix" if you want to merge, otherwise just ignore it!

cheers

[2019-06-16 19:01] jarredt opened #11 "Dynamically add markers without full rerender"
It would be really powerful to be able to dynamically add or remove markers without causing a full re-render. This would enable finer-grain control of marker render sequencing/order, and open up use cases for dynamically adding markers from remote data fetched at an interval.

Perhaps markers could be their own components that are children of the Globe, so mounting/unmounting them would add/remove

[2019-06-17 01:37] chrisrzhou commented on #11
Hey @jarredt, this is a great suggestion.  This probably cannot be done via React since the rendering logic is in threejs.  We could adopt the D3 add/remove/update pattern to approach this.  It might not be easy to implement but I think there could be a way.  Can I check the following behavior?

- Given the existing set of markers, the globe behaves correctly and smoothly (click/hover effects don'

[2019-06-17 02:14] jarredt commented on #11
Correct -- my particular use case would be fetching batches of coordinates from a remote server at an interval (say every 30 seconds). For each fetch, I'd like to add markers at those coordinates to the existing markers without any visual disruption to the globe/existing markers.

So ideally, the visual behavior would be the user sees the existing markers, and then the new markers render -- but th

[2019-06-17 09:10] chrisrzhou commented on #8
Hi @aboe026, I took a look at `three-orbitcontrols`, `three.interaction`, and I don't think that these dependencies expose any useful methods that help to implement this in an easy way.  An approach to doing this is to expose an `onWheel` prop handler that can be passed down to the `div` node containing the `canvas` in `react-globe`, as you have tried in your example.

However this still won't wor

[2019-06-17 09:10] #8 closed

[2019-06-17 15:59] chrisrzhou commented on #9
Hi @gino8080, thank you for your PR!  I worked on a more permanent fix in 3.1.1 ([codesandbox example](https://codesandbox.io/s/react-globe-311-cdp92)) by correctly exposing the various Typescript types.  You can install this with `npm` or `yarn`.  The `*Options` props are now typed correctly with optional fields!  Other types are exported as well.  I got into Typescript recently, so I was slowly

[2019-06-17 15:59] #9 closed

[2019-06-17 16:02] chrisrzhou commented on #7
Hi @mavrickp, I fixed the Typescript types in 3.1.1 ([codesandbox example](https://codesandbox.io/s/react-globe-311-cdp92)).  Please install the latest version with `yarn/npm`!

For your specific example, it seems you are calling `three-orbitcontrols` in your project.  This library is untyped so I think you need to declare it as a module in a `module.d.ts` file in your project.  If you are just us

[2019-06-17 16:02] #7 closed

[2019-06-17 16:06] chrisrzhou commented on #2
Hi @Jehutty, sorry I wasn't able to get to this earlier.  I included this enhancement in 3.1.1 ([codesandbox example](https://codesandbox.io/s/react-globe-311-cdp92)).  The docs in `Textures` also cover this in detail.

tldr;  I exposed a `onTextureLoaded` method that will allow you to pass a callback when the texture successfully load.  A few things I concerned while working on this:
- I looked a

[2019-06-17 16:06] #2 closed

[2019-06-17 16:08] chrisrzhou commented on #5
This is now supported with `offsetRadiusScale` in the `markersOptions` prop.  Check out the [codesandbox example](https://codesandbox.io/s/react-globe-311-cdp92) and play around with `offsetRadiusScale` (your use case is set at `offsetRadiusScale: 0`).

The docs is also updated and you can refer to the behavior in the `Props > Types > MarkersOptions > offsetRadiusScale` section.

Closing the issue

[2019-06-17 16:08] #5 closed

[2019-06-17 16:09] chrisrzhou commented on #4
Hi @aboe026, this bug is now fixed in 3.1.1.  I tested it locally while fixing the bug, but please feel free to give it a spin.  You can fork this [codesandbox example](https://codesandbox.io/s/react-globe-311-cdp92) to test.

Closing the issue for now!

[2019-06-17 16:09] #4 closed

[2019-06-17 16:13] chrisrzhou commented on #11
Nice, thanks for confirming.  I might not have time to look into this anytime soon, but I have a feeling it can be done easily by rewriting some of the code in `useMarkers.ts` to using the  `selection.join(enter, update, exit)` pattern in `d3`.  I recently used this pattern when working on [something else](https://github.com/chrisrzhou/react-wordcloud/blob/master/src/render.ts#L36).  Hopefully it

[2019-06-17 16:19] jarredt commented on #11
Right on. For now I'll probably use 'resium' library for my prototyping.
Not sure I'll be able to dig in to attempt a changeset here but I'll let
you know if I do!

On Mon, Jun 17, 2019, 9:13 AM Chris Zhou <notifications@github.com> wrote:

[2019-06-26 20:33] delaudio opened #12 "Alternative textures - political map"
Hi, I'd like to set alternative textures, in particular I'd like to try some visualizations with a political map, instead of a topographic map. Can I ask you where you found these textures? Thank you.

[2019-06-26 20:55] chrisrzhou commented on #12
Hi, I found my textures throughout Google image search.  They are stored in the `textures` folder in this repo.

In general, if you refer the globe texture to a valid image data file or URL, it will work.  If it is a URL, make sure the endpoint supports cross-origin.  If you upload to your own Github, you can refer it it using `raw.githubusercontent.com/USER_NAME/REPO_NAME/PATH_TO_IMAGE`.  Here's

[2019-06-26 21:05] delaudio commented on #12
Thank you! Yes, I checked the folder and codesandbox but since the three part was not fully clear to me I was thinking about maybe it would have been about a specific kind of projection with a particular ratio between height and weight. I'll try. Thank you! :)

[2019-06-27 22:26] jjwallace opened #13 "Is it possible to get (visible) Marker x and y for annotation?"
![image](https://user-images.githubusercontent.com/4450959/60304921-b43ccd00-98ef-11e9-8375-24a40134746e.png)

Is it possible to get visible marker (window) x and y locations to draw annotations?  From what im looking at this is collected with the mouse x and y for tooltip.  It would be really neat to have labels or tool tips active all the time.  I would like to look into this and build a prototy

[2019-07-01 21:41] jjwallace commented on #11
I would also love this feature, maybe I will take a hack at it.

[2019-07-05 00:45] chrisrzhou commented on #12
resolved

[2019-07-05 00:45] #12 closed

[2019-07-05 00:50] chrisrzhou commented on #13
Hi @jjwallace, currently this is not supported and might not be easy to accomplish since the event data is captured on various events that `three.interaction` library supports.  Theoretically, if we hold all the three marker objects in memory, we can keep track of the three objects and expose them with an `onAnimate` callback in the component prop that captures this everytime `requestAnimationFram

[2019-07-09 17:48] jjwallace commented on #13
Wow that might be pretty neat.  I will take a look at that approach.  Thank you for the reply.

[2019-08-12 08:28] #13 closed

[2019-09-08 22:18] shahruz commented on #11
@chrisrzhou Related to this: is there any way to pause the auto-rotation without a full re-render? I know it can be done internally (when focusing on a marker for example), but passing in a new cameraOptions prop seems to re-render instead of pausing in place. I tried adjusting the autoRotate bool as well as setting autoRotateSpeed to 0.

[2019-09-09 06:29] chrisrzhou commented on #11
I'm going to spend the week looking into these features.  I think they are useful and valuable enough to try to implement.  Will provide an update once I can see how to scope this out correctly!

[2019-10-07 20:24] jjwallace commented on #11
Has any updates occurred with the issue of stoping map marker refresh?

[2019-10-08 06:43] chrisrzhou commented on #11
Hi @jjwallace! I've been really busy the past month so I couldn't see this through, but hoping to get this done within two weeks on my spare time!  I am working on refactoring the internals so that this can be supported!  There is quite a bit of refactoring to get this to work, and resolve other re-rendering bugs.

The goals for the next version will be:
- Better control of globe without re-render

[2019-10-15 02:37] chrisrzhou commented on #11
Making good progress on this.  A new version should be available soon in the next few days!  Just finishing up on debugging a few issues and updating the docs.  Can't wait to ship this out to you guys!

[2019-10-15 21:02] jjwallace commented on #11
Very exciting, cannot wait :) 👍

[2019-10-18 21:24] jjwallace commented on #11
<img width="264" alt="Screen Shot 2019-10-18 at 2 21 08 PM" src="https://user-images.githubusercontent.com/4450959/67129154-a36fda00-f1b2-11e9-96d1-2c0af243510e.png">

PNG Sprite Markers have some alpha masking issues with rendering over the geometry glow... See image screenshot....

Also anyone doing the upgrade don't forget to update three library due to changes with orbital controls.  Here is a

[2019-10-19 07:58] chrisrzhou commented on #11
Cool to see how everyone is using custom renderers! I'm not very knowledgeable on sprites or using custom marker renderers.  Can you try turning off the globe glow and see if the problem still exists?  Will an image with transparent background fix the issue as well?

[2019-11-01 01:50] chrisrzhou commented on #11
Closing issue since the feature has been shipped and most questions are addressed!

[2019-11-01 01:50] #11 closed

[2019-11-06 15:20] kshahani opened #16 "Clicking marker does not respect focusOptions"
Looks like we need to pass in the current focus options here:
https://github.com/chrisrzhou/react-globe/blob/b4861ef89d0717051af81753f279ba846150df3f/src/Globe.ts#L652

[2019-11-27 14:23] rlhk opened #17 "How to / possible to add label to marker point?"
As title. Don't see any example or doc mentioning. Thanks!

[2019-12-17 01:45] jjwallace commented on #17
`
import React from 'react';
import ReactGlobe from 'react-globe';
import { SpriteText2D, MeshText2D, textAlign } from 'three-text2d'
import * as THREE from 'three';

export default class GlobeBackground extends React.Component {
	constructor(props, context) {
	  super(props, context);
	}

	render() {
	  return (

		<ReactGlobe markers={
				this.props.dataArr
			}
			markerOptions={{
				activeSc

[2019-12-17 03:51] rlhk commented on #17
Thanks for the detailed example.
Hopefully the feature could be supported by component props in future as I find it not a rare use case.

[2020-01-03 00:47] jjwallace opened #18 "Sprite Group Objects have layer masking issues with translucent / alpha layers"
![asdf](https://user-images.githubusercontent.com/4450959/71701592-54801c80-2d7f-11ea-83d1-f8a39efb21ef.png)
When using sprites and text in groups for markers we get clipping of the globe glow and also other sprite / group objects.  How can this be solved?  I was thinking a separate render object might help?  I understand that sprites are rendered last but how do we see alpha bounding box over-lap

[2020-01-20 14:21] Pure-Digital opened #19 "Callback onClick"
Is it possible to get x y coordinates of pointer, when clicking somewhere on globe?

I am looking for a way to add marker on globe where the user clicks. So far, I can't find any event where I can obtain this info.

[2020-01-22 22:31] t2 opened #20 "Texture Not Staying Applied"
When setting the Globe to dark mode it shows dark mode initially but then jumps back regular view. This happens in the demo as well https://codesandbox.io/s/knhlr.

[2020-01-22 23:52] jjwallace opened #21 "Animate on new item, Custom Marker Render."
I am dynamically adding items from a socket connection.

When a new marker item is added I navigate on a tour to the location of that marker item.

On each custom marker there is an animation.

[code]

This animation does not play when the new item is added, however when the globe initializes all the markers play the animation.  How can I get a callback on new Marker add?

[2020-01-23 01:35] jjwallace commented on #20
I wonder if this is due to it being hosted on github, maybe there is a hosting limit that limits http calls from the same IP?  The first time i loaded it it worked, then every time after that it failed.

Load from another host perhaps?

Interesting...

[2020-02-04 22:45] t2 commented on #20
I moved to a custom map hosted on AWS. Works fine. Must be like you said.

[2020-03-02 03:08] chrisrzhou commented on #19
@Pure-Digital, the [Callbacks docs](https://react-globe.netlify.com/examples/callbacks) show how to get `pointerEventPosition`.  This is passed as the third argument of `onClickMarker` (typed as `MarkerCallback`).  Let me know if this helps!

[2020-03-02 03:16] chrisrzhou commented on #21
I don't have enough context from what you have provided, but the lib exports a named method called `tween` that you can use.

`tween` is used in the `render` method that is called in `requestAnimationFrame`, so any animations that uses it should be updated in the main Globe's animation cycle: https://github.com/chrisrzhou/react-globe/blob/master/src/Globe.ts#L224-L227

You can also do something wi

[2020-03-02 03:18] chrisrzhou commented on #18
I think this is beyond the scope of what I can help, but reasoning about the problem seems that:
- The `globeGlow` is an object that sits above the globe (z-axis)
- Any objects placed in specific z-values could easily appear below or above the glow.

There is not an easy way to generically solve the problem so I recommend turning off the `glow` effects for your use case.

We can potentially set so

[2020-03-02 03:21] chrisrzhou commented on #17
Thanks for raising the issue `rlhk`.  Due to how customizable `labels` can look, I think it's best to defer this to custom rendering using the `markerRenderer` functionality.  It is a fairly common use case, but finding a way to make this look good in a generic way is hard.  Happy to accept a PR that adds to the documentation on a good "recipe" for rendering labels in a nice way!

[2020-03-02 03:21] #17 closed

[2020-03-09 04:05] guirenpei opened #22 "hello, i can't scale the globe when i use in h5"
![image](https://user-images.githubusercontent.com/19383783/76181915-d0726700-61fd-11ea-8d94-a714a08bf683.png)
as you see.the globe was  to large to h5 page after rendered.but i can't find the function to avoid it,what should i do.or this Component can't perform with h5 page.

[2020-03-12 00:40] chrisrzhou commented on #22
@guirenpei, I think I was able to reproduce and notice this bug as well.  A quick fix is to limit the height.  I think there's a bug where it is using the `height` as a priority instead of the `width`.  I'll see if I can swap this priority around since it's probably more important to fit inside the `width` instead of the `height`.

[2020-03-16 06:41] guirenpei commented on #22
@chrisrzhou sorry, i'm not good on the webGL,so can't pull request to you.And thanks for your open source.

[2020-03-25 19:47] gmmakqa commented on #20
Hello! I think this is still an issue. I notice that the defaultGlobeOptions uses an image hosted on Github. I'm using a small image on localhost which loads very quickly. If the default texture takes longer to load than my texture (specified in globeOptions) the default will end up overriding my setting.

[2020-03-25 20:33] t2 commented on #20
@gmmakqa I had to revert to 3.0.0 because I was seeing the same on 4.0.0. So, yes, still an issue.

[2020-03-27 04:58] gmmakqa commented on #22
I think a quick fix for this is to alter the FOV in the setSize function:

this.camera.fov = (height > width) ? (height / width) * CAMERA_FOV : CAMERA_FOV;

This works for me anyhow.

[2020-04-22 23:26] #21 closed

[2020-04-22 23:27] #19 closed

[2020-04-22 23:27] #18 closed

[2020-04-24 12:36] maikkinen opened #25 "Globe's dark theme lags"
Hello

I've linked the dark theme to the ReactGlobe like so

const globeTextureUrl = 'https://raw.githubusercontent.com/chrisrzhou/react-globe/master/textures/globe_dark.jpg'

//....

       <ReactGlobe
          markers={markers}
          onClickMarker={onClickMarker}
          onDefocus={onDefocus}
          globeOptions={{
            texture: `${globeTextureUrl}`,
            enableClouds: fa

[2020-05-07 14:39] a-kud opened #26 "Prevent Zoom When Marker Clicked"
Hello. Is there a way to stop globe from spinning and to prevent zoom to the marker when user clicks it?

[2020-05-12 09:32] madkarlsson commented on #20
Can confirm that this is an issue but to expand:

There seems to be something off with the props overriding the default options. Not only the texture loading, which seems to somewhat randomly load in different orders but in all cases, the default texture gets loaded. Either before the texture, we assign or replaces our texture. There is a visible flicker between them. I've even delayed the globe r

[2020-05-12 23:04] gmmakqa commented on #20
I fixed this in my own fork by changing:

new TextureLoader().load(texture, map => { })

to

let map = new TextureLoader().load(texture);

in src/Globe.ts.

So instead of waiting for the texture to load and using the callback - which causes the race issue between large/slow loading remote images and smaller/local ones - we can make use of the fact that TextureLoader.load() returns a texture object

[2020-05-13 15:54] madkarlsson commented on #20
@gmmakqa Nice. I'm fine with staying on 3.1.1 as for now but I'm sure @chrisrzhou would appreciate a PR

[2020-06-16 18:47] RichMatthews opened #28 "is it possible to animate between 2 markers?"
Hey cool app! really like it

just wondering if you had a feature where I could navigate between 2 markers/points and animate the movement between the two? would love to be able to show a plane moving between 2 countries or something

let me know

[2020-06-24 08:40] chrisrzhou commented on #26
Hi @a-kud, if you used the `Globe` instance via `onGetGlobeInstance`, you can have access to `.freeze()` and `.unfreeze()` methods.  You can probably use this to have more control to prevent zooming.

[2020-06-24 08:42] chrisrzhou commented on #25
I think there might be a slight bug with the default background being applied first.  I'll take a look this weekend.  Sorry for the delay.  I've been busy on other work.

In the meantime, let me know if the `onTextureLoaded` prop may help with this: https://react-globe.netlify.app/examples/textures

[2020-06-24 08:44] chrisrzhou commented on #20
Hey guys, I've been super busy with other work, but going to revisit this on the weekend.  Thanks for exploring fixes and giving me some repro.

[2020-07-26 22:30] chrisrzhou commented on #28
Hey @RichMatthews, thanks for checking out the repo.  Animations can only be controlled/set on the Globe through the `options` property or `animations` prop.  I think what you're looking to do here is fairly custom and is not possible to do with this component (only the globe can be animated by controlling the camera, nothing else).

If you get this custom example working in your own ThreeJS code,

[2020-07-26 22:30] #26 closed

[2020-07-27 07:21] a760109 opened #30 "enableDefocus not working"
Hi
I went to disable defouces  but not working.

const markers = [
    {
        id: 1,
        city: 'Singapore',
        color: 'red',
        coordinates: [1.3521, 103.8198],
        value: 50,
    },
];

<ReactGlobe
        markers={markers}
        focusOptions={{enableDefocus: false}}
        globeOptions={{
          texture:
            'https://raw.githubusercontent.com/chrisrzhou/react-g

[2020-07-28 12:18] DelahayesTheo opened #31 "404 on get image from raw.githubusercontent"
![image](https://user-images.githubusercontent.com/22497806/88664178-f630d780-d0dc-11ea-9c40-97bcdf3e92d2.png)

It seems like the images are not available for threejs to use. It results into a blank page instead of the globe itself.

I tested it locally and the examples in the website via codepen are also crashing.

Might have to do with the master/slave controversy and the change of *master* to *

[2020-07-28 12:47] DelahayesTheo commented on #31
It was because of absolute path refering to master instead of the newly named branch "main".

Here's a pull request that changes the master refences to main :
https://github.com/chrisrzhou/react-globe/pull/32

[2020-07-29 06:59] chrisrzhou commented on #30
Hey I'll be taking a look at the repo and going over bugs and improving some stability in `v5`.  Will probably take 1-2 weeks to get everything updated and in place.  Will address this in the release!

[2020-07-29 07:07] chrisrzhou commented on #31
Hi @DelahayesTheo, you are absolutely right that this was due to the recent branch changes from `master` to `main`.  I'm making some work in `v5` to improve a few things, and to remove/decouple image assets being served by the package.

Until then, anyone encountering the issue should try to reference `main/textures/*` assets, but when the project is updated to `v5`, these assets will be removed a

[2020-08-06 11:03] esteban199 commented on #31
i have the same issue

[2020-08-07 06:20] #28 closed

[2020-08-08 04:00] chrisrzhou commented on #31
Hey everyone,

`v5.0.0` was just released.  I decided to keep the `/textures` folder to make it convenient for people to have a default asset bootstrapped and see the globe visualization immediately.  I did  make a note about how this is not a good practice for reasons explained in the issue but will leave it up to implementors to address:
https://react-globe.netlify.app/faq#globe-textures

Note t

[2020-08-08 04:00] #31 closed

[2020-08-08 04:01] chrisrzhou commented on #30
`v5.0.0` is just released and this bug is addressed.  You can test the behavior by checking the second example in this page: https://react-globe.netlify.app/usage/focus where `enableDefocus` is set to `false`.

`v5.0.0` introduces some breaking changes, so if you intend to upgrade to it, please refer to the `changelog.md` or Github release notes for details.  In general, the props are simplified/f

[2020-08-08 04:01] #30 closed

[2020-08-08 04:04] chrisrzhou commented on #25
Hey @maikkinen, this is now fixed in `v5.0.0`.  The issue was `v4.0.0` did not allow a way to set this on the initialization of the globe, and only when updates to the `*options` props are made.

In `v5.0.0`, some of these props now play a role in the initialization of the globe.  In addition, you should be able to just assign `globeTexture`, `globeBackgroundTexture`, and `globeCloudsTexture` and

[2020-08-08 04:04] #25 closed

[2020-08-08 04:07] chrisrzhou commented on #22
Hey everyone this is now fixed in `v5.0.0`.  The issue was `v4.0.0` did not allow a way to set this on the initialization of the globe, and only when updates to the `*options` props are made.

The feature you are looking for here is the `initialCameraDistanceRadiusScale` in `v5.0.0`.  This prop specifies how far the camera should be placed away from the globe (as a scale factor to the globe's radi

[2020-08-08 04:07] #22 closed

[2020-08-08 04:08] chrisrzhou commented on #20
Hey everyone, this is now fixed in `v5.0.0`.  The issue was `v4.0.0` did not allow a way to set this on the initialization of the globe, and only when updates to the `*options` props are made.

In `v5.0.0`, some of these props now play a role in the initialization of the globe.  In addition, you should be able to just assign `globeTexture`, `globeBackgroundTexture`, and `globeCloudsTexture` and th

[2020-08-08 04:08] #20 closed

[2020-08-08 04:08] chrisrzhou commented on #16
Hey @kshahani , this is now fixed in `v5.0.0`.

Note that `v5.0.0` introduces a couple of breaking changes so check the `changelog.md` or Github release if you want to upgrade to it!  There's a couple of bugfixes, improved/flatter props, improved documentations, better support for `Globe` class, and overall a simplified implementation.

[2020-08-08 04:08] #16 closed

[2020-08-08 12:04] gsimone opened #34 "Google Glob Trends is missing textures since the default branch is now main instead of master"

[2020-08-08 17:12] chrisrzhou commented on #34
Thanks for reporting! I was just planning to do a light update for the project and will fix it soon this weekend!  Will close the issue when that's fixed!

[2020-08-09 15:58] chrisrzhou commented on #34
Updated and did some refactoring to use `react-globe@v5.0.2`! Also made it a covid edition.

[2020-08-09 15:58] #34 closed

[2020-08-10 02:34] haveamission opened #35 "Better explanation of point light"
I have just a basic example of point light, like this:

[code]

However I'm not sure what the pointLightPositionRadiusScales are.

I want to make a globe where the center of it is highlighted, but the sides are a bit darker, as if the viewer were the "sun" so to speak, but I am not quite sure how to do that, and the docs are a little light on explanation.

[2020-08-10 04:45] haveamission opened #36 "Tooltip Styles"
Is there any way to change tooltip styles?

[2020-08-10 05:17] haveamission commented on #36
Apparently this can work to style it:

[code]

[2020-08-10 05:36] haveamission commented on #36
Oh, there's instructions on the NPM page:

import 'tippy.js/dist/tippy.css';
import 'tippy.js/animations/scale.css';

[2020-08-10 05:36] #36 closed, assigned to nobody

[2020-08-10 18:27] chrisrzhou commented on #35
Try these options:

[code]

I'll be honest with you, I don't completely know how the math/physics of the point light works, but the code of `pointLightPositionRadiusScales` is used to position the `x, y, z` of the point light (which is attached to the `camera`): https://github.com/chrisrzhou/react-globe/blob/main/lib/lights.js#L34

Everything in the project is measured in `radiusScale` (the globe

[2020-08-10 18:29] chrisrzhou opened #37 "Background/globe/clouds should load/render together"
Currently, the background may render before the globe, leading to an empty globe placeholder showing up in the viz.  Better organize the internal code and lifecycle to make sure the whole visualization loads up more naturally.

[2020-08-12 22:37] haveamission commented on #35
Thanks, those values didn't work exactly for me, but similar ones did. Though the globe is very dark on zoom in.

[2020-08-12 22:38] haveamission opened #38 "Globe sometimes has glow enabled despite me disabling it"
I've got this option set:

` enableGlobeGlow: false,`

However occasionally the glow will pop up - especially when it takes a second or two for the globe to populate.

I don't want the glow, so this is a little frustrating. There seems to be no way to totally disable it.

![Screen Shot 2020-08-12 at 6 38 34 PM](https://user-images.githubusercontent.com/10475533/90075384-4017e100-dccb-11ea-995f-f6a

[2020-08-15 17:08] chrisrzhou commented on #38
Hi @haveamission, are you using `v5.0.2`?  I believe prior `v5*` versions have this bug and `v5.0.2` [fixed it](https://react-globe.netlify.app/changelog#502-2020-08-08).  Let me know if that's the case for you.  I was able to test/confirm in the Playground editor here: https://react-globe.netlify.app/usage/globe#glow

If there is still a bug, can you spin up a Codesandbox instance and pass that t

[2020-08-15 17:12] chrisrzhou commented on #38
If you are using `v5.0.2` and there is a light halo before the globe loads, this is more related to this bug that I plan to address soon: https://github.com/chrisrzhou/react-globe/issues/37

The issue is the whole viz should render after all assets are loaded, or it should at least load the globe before the background, so it doesn't appear to have an empty globe against a specified background.  Wh

[2020-08-15 17:36] chrisrzhou commented on #35
@haveamission, I think I managed to understand the behaviors of the light options (despite this being my own project!).  It was more clear to me when I coded it in the past.  I'll document this more based on your feedback, but this is how it roughly behaves:

- ambient light illuminates the scene without a source and applies the light everywhere (straightforward).
- point light is a source of ligh

[2020-08-15 17:40] chrisrzhou commented on #35
At some point, I had an ambitious plan to wire up a UI for `react-globe` that will allow an interface to configure the globe through sliders  and inputs.  I don't have to the time to do that, but that would make understanding globe options much more intuitive and exploratory.  I may get back to that at some point in the future, but not betting on it :P

[2020-08-20 20:23] haveamission commented on #38
The bug is intermittent - I cannot replicate it in each and every occasion. I am using v5.0.2. It seems the light halo sticks around after the loading process. Let's maybe see if your bug fix fixes the issue first.

[2020-08-20 20:32] haveamission opened #39 "When setting initial coordinates, globe disappears"
I have a globe as such:

                                <ReactGlobe
                                    markers={markers}
                                    globeBackgroundTexture={null}
                                    height="70vh"
                                    options={{
                                        cameraAutoRotateSpeed: 0,
                                        enableGl

[2020-09-03 20:48] haveamission commented on #38
I have confirmed I am using v5.0.2. The glow still happens intermittently. Usually when the globe takes a longer time to load

[2020-09-03 20:50] haveamission commented on #38
For example here's my code:

                               <ReactGlobe
                                    markers={markers}
                                    globeBackgroundTexture={null}
                                    height="70vh"
                                    options={{
                                        cameraAutoRotateSpeed: 0,
                                        enabl

[2020-09-11 18:28] chrisrzhou commented on #39
Hey @haveamission, sorry for the late reply.  I've been really busy the past few weeks.

This issue sounds related to not memoizing the `initialCoordinates` (or defining it outside of the component that is rerendering and causing the array prop assignment to be recreated, which triggers re-rendering).  A note that `react-globe` doesn't handle this layer since it's a React-specific behavior.  In th

[2020-09-11 18:29] #35 closed, assigned to nobody

[2020-09-11 18:29] chrisrzhou commented on #38
Sorry for the late reply!  I'll take a look this weekend, and try to make improvements to loading texture assets.

[2020-09-11 18:42] PeerRich opened #40 ""Cannot use import statement outside a module", potentially missing Nextjs support"
Hey Chris, I am getting "Cannot use import statement outside a module" when running the standard globe:

[code]

I think it's because this repository is missing Nextjs support?

[code]

[2020-09-11 20:53] PeerRich commented on #40
fixed it with

[code]

[2020-09-12 20:54] Paramvir109 opened #41 "How to change marker color on onMouseOverMarker and revert back on onMouseOutMarker"
![image](https://user-images.githubusercontent.com/33193493/93004737-934daf80-f567-11ea-9c36-17c54db501ee.png)
These are my globe props and in the functions which I have defined I am updating the markers array by changing the color of the hovered marker
![image](https://user-images.githubusercontent.com/33193493/93004787-fa6b6400-f567-11ea-9f3d-85f974297049.png)
But the color is not changing, If I

[2020-09-23 19:25] jabusir opened #42 "Is there anyway to change a markers height offset from the marker renderer options?"
Is it possible to create two layers with this by placing two markers at the same location, but elevating one above the other?

[2020-09-24 19:44] tdrdimov commented on #38
Please share if anything comes up as a fix for this bug, I'm also experiencing it in the exact same way.

[2020-09-25 05:26] chrisrzhou commented on #41
I'll have to take a look at this.  Was able to reproduce the error and it's not updating despite the data changing.

[2020-09-25 05:33] chrisrzhou commented on #40
Hi @PeerRich, I'm not very familiar with the bundling/build tools (this library uses `microbundle`).  If you are able to find more information on how this can be fixed in the library, a PR is very welcome and I'm interested to know how/where the fix is applied!

[2020-09-25 05:33] #40 closed, assigned to nobody

[2020-09-25 05:41] chrisrzhou commented on #42
@jabusir, this is not supported (`markerOffsetRadiusScale` applies to all markers but not individual markers).  It might be possible for me to read this property on each `marker` and use it as a override to the value set in `options`, but probably not willing to support this unless it's more broadly needed.

Feel free to fork the repo and adjust this for your needs if it works out!

Another potent

[2020-09-25 05:43] chrisrzhou commented on #38
Has it really been two weeks since I last checked back? :O Time flies.  I'll get to it this weekend as things have finally settled down a bit at work.

[2020-09-28 20:26] jabusir commented on #42
Hi Chris,

Thank you for your response. That was really insightful.

Also had another question, hope you don't mind me dropping it here, but can globeBackgroundTexture and other textures be set to assets that are on my machine or do the assets have to be hosted on the web. Thanks again :)

[2020-10-05 07:16] birdm4n opened #43 "Disabling CameraAutoRotate overwritten on Focus"
it's great, that we can activate and deactivate the cameraAutoRotate via the options. But when I click on a marker and focus it, the globe starts turning even though I deactivated it in the beginning (and before the first click it does not turn).
I can reproduce this behavior in the codesandbox examples by disabling cameraAutoRotate in their options so it seems to be a global issue.

[2020-10-05 12:16] birdm4n opened #44 "Touch Events on markers not working"
Touch events are not fired when clicking on markers. Gestures (swipe/zoom etc.) work well but touch inputs are not handled when one taps on a marker. Tested on different machines with touch emulation and with real touch screen.

[2020-10-05 12:17] birdm4n opened #45 "Marker Touch Events not Working"
Touch events are not fired when clicking on markers. Gestures (swipe/zoom etc.) work well but touch inputs are not handled when one taps on a marker. Tested on different machines with touch emulation and with real touch screen.

[2020-10-05 16:52] kenchambers opened #46 "RTK: useSelector causing globe to flicker than disappear"
# Redux Toolkit related issue

I'm getting an issue with the globe appearing and than disappearing when i add `useSelector` to any file inside of my repo.

my stack is
`create-react-app`
`redux-toolkit`
`react-redux-firebase`

`Globe.js`

[code]

the globe is a pure memoized component , living as a child of `App.js` adding `useSelector` to any component anywhere causes this problem to occur.

`my

[2020-10-15 18:36] chrisrzhou commented on #44
Should be able to add these explicitly soon!

[2020-10-15 18:37] chrisrzhou commented on #45
duplicate of #44, closing.

[2020-10-15 18:37] #45 closed, assigned to nobody

[2020-10-15 18:41] chrisrzhou commented on #46
@nodefiend, can you check to see if you have either memoized the props or declared them outside of the component? https://react-globe.netlify.app/faq#why-is-my-globe-infinitely-rendering.

[code]

From the code you provided above, it seems that `initialCoordinates`, `options` are still being passed a new object/array.  When redux state changes and reupdates this component, those props will always

[2020-10-15 19:12] kenchambers commented on #46
Thanks for the response !

It was because I had initialCoordinates set.

Great library :)

Sent from my iPhone

[2020-10-16 15:52] hexiaok commented on #44
Hey @chrisrzhou same issue here.  After I added "tippy js" to customize the tooltip, tooltip doesn't show when clicking the markers in touchscreen, sometimes long press might work, but seems to be a bug here; for desktop it still works well.
And appreciate your awesome job here:)

[2020-10-16 17:52] chrisrzhou commented on #46
Closing the issue if it's resolved!

[2020-10-16 17:52] #46 closed, assigned to nobody

[2020-10-18 23:36] kenchambers commented on #44
I noticed this same problem as well for mobile! tooltip is not appearing, touch event function is not firing.

[2020-11-02 10:59] birdm4n commented on #44
@chrisrzhou can you say anything about when you are planning to release the version that fixes that? Or is there a workaround/hotfix for the meantime?

[2020-11-17 22:11] cmosboss opened #47 "High quality textures break / crash the app"
Not sure exactly how to fix this but using high fidelity images that allow you to zoom in do not work very well. Example here
http://shadedrelief.com/natural3/ne3_data/16200/textures/2_no_clouds_16k.jpg

This is a 30mb version of the texture included in all the demos. It has much more detail but unfortunately crashes the app / occasionally will cause the app to load but with white clouds only. You

[2020-11-25 15:43] AlexandrGavrilov opened #48 "transparent globeTexture"
I want set glob texture with transparent sea, but can't do this with svg texture like https://upload.wikimedia.org/wikipedia/commons/8/87/World_map_without_Antarctica.svg when i set opacity to zero.
How i can set transparent sea?

[2020-12-09 11:02] r1beguin opened #49 "Markers not updated via React Hooks"
I am trying to track satellite position around the globe in "almost" real time via TLE data.
I am using React hooks to initialize the marker state, and a useEffect to update the marker state.
However, while I can monitor that the coordinates of the markers are indeed changing, the rendered position on the globe is not moving.
I have to reload the whole page to have the marker move.

`

    const [

[2020-12-14 18:02] birdm4n opened #50 "Updating GlobeTexture on runtime"
Hey! I was wondering if it's in any way possible to update the globe's texture on runtime.
I've been digging a bit through the source but wasn't able to do this.
Whenever I change the texture in the prop or through other means, the globe disappears completely.
Is there no way to do that? Or is that behavior a bug? Thanks for the help!

[2021-01-01 13:43] tgmof opened #52 "Creating a development setup"
The readme doesn't contain detailed instructions on how to easily test and contribute.
Since it is packaged for npm, it would be great to have a quick setup that uses this package as a local dependency so that the code can be quickly tested.
I created a local setup to contribute with `"react-globe": "file:../../react-globe",` in my dependencies but this always leads to this error:
Error: Invalid h

[2021-01-01 14:46] tgmof commented on #50
At least with the black texture globe_dark he provides, it works, isn't it?

[2021-01-03 11:55] tgmof commented on #49
Hey Buddy!
I think it is more a question for StackOverflow than here. But you probably already figured out the issue and forget to close this issue?
I see 2 issues in your code:
1.  It doesn't compile since your return expression should be linted with "JSX expressions must have one parent element."
2. You added these 2 lines `globe && globe.updateMarkers(marks);globe && globe.updateMarkers(markers

[2021-01-05 07:28] birdm4n commented on #50
Not really. At least not the way I tried it. Made a small example based on on of the examples:
https://codesandbox.io/s/react-globe-change-globe-texture-h1vjx

The globe completely goes away when you click the button to change the texture. And I am just using those provided textures there. How did you do it to make it work?

[2021-01-15 15:38] otaviobonder opened #54 "Connect markers"
Is it possible to add a `line` to connect two markers?

[2021-01-28 23:14] nrgapple opened #55 "Layer support"
Do you plan to add geojson Layer support such as polygons in the future?

[2021-02-01 15:40] jonesaustindev opened #56 "Is there a way for a ref or state to be set to detect the current zoom level?"
I am trying to see if I can get the current zoom level via state or a ref so I can do other functions based off of that number. Is there anything I can use to get that info with this library? Thanks!

[2021-02-01 19:22] Zachweiss10 opened #57 "can't seem to get this working....(7 errors)"
1. TypeError: Cannot read property 'length' of undefined
c
  58 |
  59 | export function createGlowGeometry(geometry, size) {
  60 |   // Gather vertexNormals from geometry.faces

  62 |   const vertexNormals = new Array(glowGeometry.vertices.length);
  63 |   glowGeometry.faces.forEach((face) => {
  64 |     if (face instanceof Face3) {

2.) TypeError: Cannot read property 'updateCallbacks' of nu

[2021-02-01 20:30] malinantonsson commented on #57
Haha I have the same issue. Thought I was going crazy.

[2021-02-01 20:43] malinantonsson commented on #57
@Zachweiss10 downgrading three to `0.109.0` worked for me.

[2021-02-01 20:49] Zachweiss10 commented on #57
@malinantonsson Thank you! I'll give that a shot

[2021-02-01 21:25] Zachweiss10 commented on #57
@malinantonsson That fixed it thank you! (not sure if I should leave this issue open as there are some compat. issues.

[2021-02-02 21:15] malinantonsson commented on #57
@Zachweiss10 I would leave it open - if anything it would be good to mention it in the readme or something :)

[2021-02-24 13:12] mledwards opened #58 "Can you stop the map marker rotating with the globe?"
I'd like for the map markers to be forward facing at all times. Is this possible?

[2021-02-24 13:25] birdm4n commented on #58
You can create a custom marker renderer that uses THREE.Sprite instead of geometry (quads, spheres). That's how I achieved forward facing markers (with a custom png) to have forward facing Icons on the globe.

[2021-02-24 13:56] mledwards commented on #58
Ah, thank you. Do I still have to return a Mesh if I'm using a sprite?

[2021-02-24 14:00] birdm4n commented on #58
Just return the sprite instead of the mesh. Here's parts of my code:
[code]

[2021-02-24 14:10] mledwards commented on #58
Hmm, that's what I was trying, but it's not displaying. Thank you for the support by the way.

[code]

[2021-02-24 14:23] birdm4n commented on #58
Try drawing it on top so you're sure it's not hidden behind the globe:

[code]

  Perhaps you also need to scale the Sprites a bit.

[2021-03-01 16:48] mledwards commented on #44
Mobile appears to be double tap for me. Odd behaviour. I'm going to try and force it to be single click.

[2021-03-01 21:25] mledwards commented on #58
That's still not showing 🤔

[2021-03-01 21:29] mledwards commented on #26
Do you mean `lock()` and `unlock()`? Also `lock()` doesn't seem to work in the `onClickMarker` function, as I want to stop rotation.

[2021-03-01 21:43] mledwards opened #59 "Responsively change initial zoom"
Is it possible to responsively change the zoom of the globe?

I initially tried responsively changing the value for `initialCameraDistanceRadiusScale` but that made the whole globe disappear.

I also tried changing the value for `cameraDistanceRadiusScale` but that seemed to have no effect (even though it works with most other options).

Maybe a simpler question is how do you programmatically chan

[2021-03-02 10:08] mledwards opened #60 "Sometimes the options don't load"
I stripped the code down to what you see below, and 10% of the time the options don't load on page load. Any ideas?

[code]

[2021-03-02 11:23] mledwards commented on #59
It looks like the size of the globe is linked to the height of the globe, so to workaround my query above I'm setting the height to "130vh" on larger desktops, using CSS to bump the globe up by half (15vh) and then hiding the excess. See partial code examples below.

React
[code]

CSS
[code]

[2021-03-02 11:48] mledwards commented on #60
My workaround to this was to use useEffect when the globe object was available, and also use a kinda yucky setTimeout.

[code]

[2021-03-29 12:10] shelbyetienne-compsci opened #61 "Globe disappears"
Hi, I am having issues with using useState with the globe. When I update a useState the globe disappears for some reason, and I do not really know how to solve the issue.

This is the error I get below.

![Screen Shot 2021-03-29 at 8 10 08 AM](https://user-images.githubusercontent.com/67346746/112834642-3aa6b580-9066-11eb-94af-28bcc2d9e417.png)

[2021-04-02 22:35] sloorush commented on #57
Good issue! Needs to be solved urgently as documentation wrt version of three has been mentioned wrongly

Will be sending a PR for this soon!

[2021-04-13 13:01] JamesIves opened #63 "Spin Animation"
This is more of a general question than a bug report but I was hoping you'd be able to help me out here.

I'm wondering if you know of a way to simply spin the globe on its axis to a focus point. I don't want the globe to zoom in/out at all, but simply rotate on its axis until it gets to the given coordinates, similar to how it might behave if you were to hold down left click and just rotate the e

[2021-04-21 16:46] mattography opened #64 "How to use callback from getGlobe to using loading screen"
I'm trying to show a loading screen before the globe is fully initialized (it seems to currently show a randomized color in place of the globe), before the texture is loaded. I've tried using `getGlobe={}` to find a boolean I can use when the globe is fully ready, but this keeps the globe itself from rendering.

[2021-04-23 20:39] mattography commented on #38
Can you provide an example of how to use `onGlobe*TextureLoaded`? I'm trying to set a loading screen to show while the globe is loaded to the canvas. Thanks!

[2021-05-04 14:13] mattography commented on #64
Solution is to use
`<ReactGlobe
    onGlobeTextureLoaded={() => setGlobeLoaded(true)}
    onGlobeCloudsTextureLoaded={() => setCloudsLoaded(true)}
/>`

And then use the state values to show a loading screen:

`{!(cloudsLoaded && globeLoaded) && (
        <div>
          <h1>Loading...</h1>
        </div>
      )}`

[2021-05-04 14:19] mattography opened #65 "Pixelated canvas when loading globe in Chrome(v. 90.0.4430.93) and FireFox (78.10.1esr)"
I just reloaded my project with the Globe in Chrome and Firefox to test, and noticed that the canvas is rendering pixelated now:
<img width="1096" alt="Screen Shot 2021-05-04 at 10 19 16 AM" src="https://user-images.githubusercontent.com/435919/117018097-318eb100-acc2-11eb-950e-ac0465c3e0ec.png">

What would cause this?

[2021-05-04 14:56] #65 closed, assigned to nobody

[2021-05-07 04:53] arausly commented on #59
I had a similar problem where I wanted controls to zoom in and zoom out.  I hope this helps anyone

[code]

[2021-05-15 15:44] purkayasta opened #66 "React Globe installation does not work?"
Hello,
I have installed react-globe and as peer dependency installed three. But when I want to start my app it throws an error.
![image](https://user-images.githubusercontent.com/12936435/118369564-ab2d7580-b5c5-11eb-84ae-03642212df2d.png)

This is the installation **log**

![image](https://user-images.githubusercontent.com/12936435/118369651-ff385a00-b5c5-11eb-8323-cb3ef524e3ab.png)

When I saw `

[2021-05-27 15:55] nandorojo commented on #66
I had the same problem. I solved it with these versions:

[code]

Make sure to not have the `^` to get the exact versions.

The readme has the wrong version of `three` I believe.

[2021-05-27 16:29] nandorojo opened #67 "How can I disable focusing when a marker is clicked?"
Clicking a marker seems to update the focus on the globe. I'd like to disable this, perhaps with `enableFocusOnClickMarker` prop. This is the line in question, it seems:

https://github.com/chrisrzhou/react-globe/blob/9d8e91351b8dbebf0c8aa2444404464a07ea54c0/lib/globe.js#L177

I don't want users to be able to click into the globe. Thanks!

[2021-05-27 16:37] nandorojo commented on #67
For now I just removed `updateFocus` using `patch-package`.

[2021-05-28 13:49] purkayasta commented on #66
Oh it works :)
Thanks @nandorojo 💯 👍

[2021-05-28 13:49] #66 closed, assigned to nobody

[2021-06-02 13:16] mattography commented on #38
Hi @chrisrzhou - any update on a fix for the inconsistent glow? Thanks!

[2021-06-09 06:17] bcaylor10 commented on #44
Any update on this? I'm unable to get it working on single or double click. I could probably put something together, but wanting to know what the progress on an actual fix is.

[2021-06-16 09:21] derwaldgeist commented on #44
First off, I love the concept of this package, as it is leightweight and would offer just what I need for my usecase. However, I'd definitely need marker touch events. Tried out the samples on my iPhone, and they did not work. Also, I noticed that the inertia panning does not feed really natural on mobile devices. It's too slow and stops too quickly. Is there a way to adjust this?

[2021-07-16 03:33] tufail opened #68 "How to add object"
I like to add objects here but i don't know how to use it please help me here are the example from normal javascript

loader.load('assets/ocean.obj', function (object) {
    setMaterial(object, matOcean);
    addObject(object);
  });

  loader.load('assets/land.obj', function (object) {
    setMaterial(object, matLand);
    addObject(object);
  });

  loader.load('assets/ice.obj', function (object

[2021-09-09 13:01] corasaniti opened #69 "Unable to start after clone git repo"
After cloning repo and run

npm install
npm run docs

I see this message error
TypeError: One and only one of the "port", "server", or "noServer" options must be specified

I use node v14.17.6 LTS version
Thanks

[2021-09-10 10:26] PeterMain commented on #38
Any updates on this? Getting temperamental glow on safari.

I was thinking I could clip the circle with the parent div border radius, but the glow is built into the 'width' of the globe.

[2021-09-10 17:04] mattography commented on #38
@PeterMain - I discovered moving the `options` object to the `<ReactGlobe/>` component fixed the issue. Also using React v17.0.2 seemed to help.

[code]

[2021-10-19 22:58] gmmakqa opened #70 "Gap between globe and glow"
I can see a gap between the edge of the globe and the glow. It looks like a black outline around the edge of the globe, but that is just the background colour showing through.

![image](https://user-images.githubusercontent.com/54381955/138001251-e75d7404-5b2f-4626-8c04-92cd87c86c27.png)

I verified this by adding a black glow to the gradient background example on https://react-globe.netlify.app/u

[2021-10-20 09:35] gmmakqa commented on #58
Try `sprite.scale.set(30, 30, 30);` or whatever scale works for you. The sprites are 1 x 1 when instantiated I think - they're probably working, you just can't see them because they're so small.

[2021-10-22 23:54] steven-tey commented on #48
Were you able to figure this out @AlexandrGavrilov?

[2021-10-29 15:23] iampranavdhar commented on #67
@nandorojo  How can we do this ? Even I want it to not change the focus when clicked on the globe

[2021-10-29 15:29] nandorojo commented on #67
This is my patch file (impossible to read since it's minified) for version 5.0.2

[code]

[2021-10-29 15:30] nandorojo commented on #67
Just install patch-package, set it up, and add that file inside of `patches/react-globe+5.0.2.patch`

[2021-10-29 15:42] iampranavdhar commented on #67
Thanks, @nandorojo. But before creating the patch file what should be deleted for removing the updateFocus  I have seen multiple places in index.js in the modules file?

[2021-10-29 15:45] iampranavdhar commented on #67
[code]

This is what I got before changing anything and running

[2021-10-29 15:53] nandorojo commented on #67
I don’t know what you mean by “before changing anything”. You need to use my patch file for the change, otherwise nothing will happen. It’ll only work if you’re using 5.0.2. Consider the code as-is though.

[2021-10-29 15:57] nandorojo commented on #67
I haven't seen this in a long time, but I fixed my problem with my patch file. Unfortunately I can't provide much support beyond that, but I hope it helps with your case

[2021-10-29 16:11] iampranavdhar commented on #67
Thanks, @nandorojo. It worked :) . Will it work in the production as well and Is there any possibility to remove the box when we click on the globe that is coming.Like I mentioned in this pic.
![image](https://user-images.githubusercontent.com/73348574/139467828-1f6b469a-9688-47c1-8a02-09c2f6851824.png)

Thanks again :)

[2021-10-29 16:12] nandorojo commented on #67
Honestly, not sure...I don't maintain this library, I just had this one issue that I worked around. Wish I had a better answer for you. My best recommendation is keep playing with the props, and maybe use some custom CSS inspecting from the browser.

Good luck!

[2021-10-29 16:14] iampranavdhar commented on #67
Thank You. I Will check that out in different ways and will mention it here in case anything works.

[2022-01-25 01:23] lesliewubbel commented on #66
This is still issue can the repo get updated?

export 'Face3' (imported as 'o') was not found in 'three' (possible exports: ACESFilmicToneMapping, AddEquation,

[code]

[2022-04-14 14:52] intensr commented on #40
@PeerRich i tryed your little trick but it seems it still doesnt want to work for me

[code]

Did you run in something similar?

@chrisrzhou it would be really cool to have next support as it is one of the most used react tools at the time.

[2022-08-12 04:42] israel-lpz commented on #40
Some solution?

[2022-09-04 04:09] nimajnsr commented on #44
any updates on this issue ?